.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/package.json
webview-ui/package-lock.json
test/**
node_modules/**
out/test/**
prompt/**
temp/**
scripts/**
dist/**
.gitignore
.eslintrc.json
tsconfig.json
vitest.config.ts
package-lock.json
**/*.map
